################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Breakout/Breakout/x64/Debug
/Breakout/x64/Debug
/irrKlang
